@model project_asp.net.Models.ParkingHistory

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_AdminLayout";
}

<h1>Edit</h1>

<h4>ParkingHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="history_id" />
            <div class="form-group">
                <label asp-for="spot_id" class="control-label"></label>
                <input asp-for="spot_id" class="form-control" />
                <span asp-validation-for="spot_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reservation_id" class="control-label"></label>
                <select asp-for="reservation_id" class="form-control" asp-items="ViewBag.reservation_id"></select>
                <span asp-validation-for="reservation_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="entry_time" class="control-label"></label>
                <input asp-for="entry_time" class="form-control" />
                <span asp-validation-for="entry_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exit_time" class="control-label"></label>
                <input asp-for="exit_time" class="form-control" />
                <span asp-validation-for="exit_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


